# Archivos y carpetas de compilación
*.iml
.gradle/
/local.properties
/.idea/
.DS_Store
/build/
/app/build/
/captures/
.externalNativeBuild/
.cxx/

# Archivos locales o firmas
*.jks
*.keystore
android-sdk/

# Firebase (archivo local con credenciales del proyecto)
google-services.json
app/google-services.json
